@import "tailwindcss";
@config "../tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: 10 15 28;
  --foreground: 229 231 235;

  --card: 31 41 55;
  --card-foreground: 249 250 251;

  --popover: 31 41 55;
  --popover-foreground: 249 250 251;

  --primary: 212 175 55;
  --primary-foreground: 17 24 39;

  --secondary: 55 65 81;
  --secondary-foreground: 249 250 251;

  --muted: 31 41 55;
  --muted-foreground: 156 163 175;

  --accent: 212 175 55;
  --accent-foreground: 17 24 39;

  --destructive: 239 68 68;
  --destructive-foreground: 255 255 255;

  --border: 209 213 219;
  --input: 209 213 219;
  --input-background: 17 24 39;
  --switch-background: 55 65 81;

  /* --ring: 212 175 55;

  --chart-1: 212 175 55;
  --chart-2: #60a5fa;
  --chart-3: #34d399;
  --chart-4: #f472b6;
  --chart-5: #a78bfa; */

  --radius: 0.625rem;

  --sidebar: 17 24 39;
  --sidebar-foreground: 229 231 235;
  --sidebar-primary: 212 175 55;
  --sidebar-primary-foreground: 17 24 39;
  --sidebar-accent: 31 41 55;
  --sidebar-accent-foreground: 249 250 251;
  --sidebar-border: 209 213 219;
  --sidebar-ring: 212 175 55;
}

@theme inline {
  --font-playfair: var(--font-playfair);
  --font-inter: var(--font-inter);
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}
body {
  /* font-family: "Exo 2", sans-serif; */
  font-optical-sizing: auto;
}

p,
a,
/* h1, */
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-inter);
}

h1 {
  font-family: var(--font-playfair);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background: transparent !important;
  color: inherit !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 9999s ease-in-out 0s;
}
